@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: 17 24 39;
}

textarea,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align-last: center;
  border-radius: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: 17 24 39;
  }
}

body {
  color: var(--white);
  background: rgb(var(--black));
}
