@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: 17 24 39;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
input[type="number"] {
  -webkit-appearance: none;
  border-radius: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: 17 24 39;
  }
}

body {
  color: var(--white);
  background: rgb(var(--black));
}
