@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255 255 255; /* #ffffff */
  --black: 17 24 39; /* #111827 */
}

textarea,
input,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

select {
  text-align-last: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: 255 255 255;
    --black: 17 24 39;
  }
}

body {
  color: rgb(var(--white));
  background: rgb(var(--black));
}
